.main-page {
  margin-top: -20px;
}
.card-body {
  height: 50vh;
}

.missionName {
  font-size: 140%;
  text-align: center;
  color: #ff4d4d;
}
.mission-details {
  font-size: 75%;
  text-align: center;
  color: #5c8a8a;
}
.mission-image {
  width: 50%;
  height: 10%;
  margin-left: 25%;
}

.Details-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 45px 4px 40px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 30%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
